.content {
  height: 100%;
}

.hero-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2.4rem;
  height: 100%;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7), 0 0 10px rgba(0, 0, 0, 0.6),
    0 0 20px rgba(0, 0, 0, 0.4);
}

.hero-section .heading {
  font-size: 6rem;
  line-height: 0.8;
  text-align: center;
}

.hero-section .heading span:last-child {
  font-style: italic;
  font-size: 3.2rem;
}

.hero-section .text {
  font-size: 2.4rem;
  text-align: center;
  width: clamp(45ch, 50%, 50ch);
}
