.content-container {
  height: 100%;
  overflow: hidden;
  scrollbar-width: none;
}

.content-container .heading {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7), 0 0 10px rgba(0, 0, 0, 0.6),
    0 0 20px rgba(0, 0, 0, 0.4);
  margin-top: 6.4rem;
  margin-bottom: 3.2rem;
  text-align: center;
  text-decoration: underline;
  font-style: italic;
}

.content-container .menu-container {
  width: 100%;
  height: 75%;
  padding: 0 25%;
  overflow: auto;
  scrollbar-width: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  justify-items: center;
  gap: 1.6rem;
}

.menu-container .dish-card {
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 2.4rem 1.6rem;
  border-radius: 0.8rem;
}

.dish-card .dish-title {
  margin-bottom: 0.8rem;
}
